<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <title>Main Page</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<header>
  <h1>Welcome to the Main Page</h1>
  <div class="header-links">
    <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
    <a sec:authorize="!isAuthenticated()" th:href="@{/register}">Register</a>
    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
  </div>
</header>
<nav>
  <p></p>

</nav>
<main>
  <a sec:authorize="hasRole('student')" th:href="@{/test}">Start Test</a>
  <a sec:authorize="hasRole('ADMIN')"  th:href="@{/question-add}">Edit Test</a>

</main>

</body>
</html>